body {
    background-image: url('https://cdn.vectorstock.com/i/1000x1000/84/81/retro-80s-seamless-pattern-background-vector-5538481.jpg');
    background-attachment: fixed;
}
h3 {
    font-size: 25px;
    font-weight: bolder;
    color: #E65100;
    font-family: 'Bungee Inline',
    cursive;
}
.jumbotron {
    background-image: url('https://cdn.vectorstock.com/i/1000x1000/84/81/retro-80s-seamless-pattern-background-vector-5538481.jpg');
    color: #CD5C5C;
    text-align: center;
    font-family: 'Bungee Inline',
    cursive;
}
#social {
    width: 40px;
    height: 40px;
    margin: 5px;
    border: black;
}
#copyrite {
    text-align: center;
    color: #17202A;
}
#eighties-input1 {
    color: #17202A;
    font-weight: bold;
    background-color: #E65100;
    font-family: 'Bungee Inline',
    cursive;
}

.button {
    padding-right: 10px;
}